
*{
	margin:0;
	padding:0;
}

body{
	height: 5000px;
}
.container-left{
	float: left;
}
.container-right{
	float: right;
}

/*BEE*/

.bee .body,
.bee .head,
.bee .line,
.bee .eyes{
	position: absolute;
	margin-left: 120px;
}
.bee{
	padding-top: 20px;
}
.bee .body{
	background-color: #FFD917;
	width: 250px;
	height: 300px;
	z-index: 1;
	border-radius:110px;
	margin-top: 20px;
}
.bee .head{
	background-color: #2B190A;
	height: 125px;
	width: 250px;
	z-index: 3;
	border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}
.bee .eyes{
	width: 30px;
	height: 30px;
	background-color: #2B190A;
	z-index: 10;
/*	float: left;*/
	border-radius: 50%;
	border:solid 10px #fff;
	left: 145px;
}
.bee #lefty{
	margin-right: 0px;
}
.bee #righty{
	margin-left: 20px;
}
.bee .line{
	background-color: #2B190A;
	width: 250px;
	z-index: 2;
}
.bee #up{
	margin-top: 150px;
	height: 23px;
}
.bee #down{
	margin-top: 200px;
	height: 18px;
}
.bee .wings{
	background-color: #ACDED3;
	width: 100px;
	height: 100px;
	float: left;
	margin-top: 125px;
}
.bee #left{
	margin-left: 70px;
	border-top-left-radius: 250px;
	border-bottom-left-radius: 250px;
}
.bee #right{
	margin-left: 150px;
	border-top-right-radius: 250px;
	border-bottom-right-radius: 250px;
}
.neddle{
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
  	border-right: 30px solid transparent;
  	border-top: 30px solid #2B190A;
  	margin-top: 315px;
  	margin-left: 210px;
}

/*PENGUIN*/
.penguin .back,
.penguin .front,
.penguin .eyes,
.penguin .beak,
.penguin .beakk{
	position: absolute;
	margin-top: 100px;
	margin-left: 120px;
}
.penguin .back{
	background-color: #000;
	height: 300px;
	width: 200px;
	border-top-left-radius: 100px;
}
.penguin .front{
	background-color: #fff;
	height: 300px;
	width: 110px;
	border-top-left-radius: 100px;
	margin-left: 225px;
/*	border:1px solid red;*/
}
.penguin .eyes{
	width: 20px;
	height: 20px;
	background-color: #000;
	z-index: 10;
	border-radius: 50%;
	border:solid 5px #F7D81A;
	left: 170px;
	margin-top: 120px;
}
.penguin .beak{
	height: 50px;
	width: 40px;
	background-color: #FAA01E;
	left: 215px;
}
.penguin .beakk{
	z-index: 0;
	width: 23px;
	height: 23px;
	background-color:#FAA01E;
	margin-top: 145px;
	left: 215px;
	border-radius: 0 0 90px 0;
}
/*PARROT*/
.parrot{
	position: relative;
	float: right;
	margin-top: 40px;
	right: 120px;
	padding-right: 40px;
}
.parrot .wings,
.parrot .eyes,
.parrot .beak,
.parrot .beakk{
	position: absolute;
}
.parrot .body{
	width: 250px;
	height: 250px;
	background-color: #79B427;
	border-top-left-radius: 120px;
	border-bottom-right-radius: 120px;
}
.parrot .wings{
	width: 120px;
	height: 120px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color:#3A5F11;
	bottom: 0;
}
.parrot .eyes{
	width: 25px;
	height: 25px;
	background-color: #2A5812;
	border-radius: 50%;
	border:solid 8px #fff;
	right: 55px;
	margin-top: 20px;
}
.parrot .beak{
	height: 50px;
	width: 40px;
	background-color: #FAA01E;
	right:0;
}
.parrot .beakk{
	width: 23px;
	height: 23px;
	background-color:#FAA01E;
	top: 50px;
	right: 17px;
	border-radius: 0 0 90px 0;
}
/*WHALE*/
.whale{
	position: relative;
	float: right;
	margin-top: 500px;
	padding-right: 40px;
	padding-left: 100px;
	right: -142px;
}
.whale .belly,
.whale .eye,
.whale .fin-tail{
	position: absolute;
}

.whale .body{
	width: 250px;
	height: 250px;
	background-color: #39ADD0;
	border-top-left-radius: 140px;
	border-bottom-right-radius: 140px;
}
.whale .belly{
	width: 190px;
	height: 190px;
	border-top-left-radius: 130px;
	border-bottom-right-radius: 130px;
	background-color:#B5D1D6;
	bottom: 0;
	margin-left: 60px;
}
.whale .eye{
	width: 30px;
	height: 30px;
	background-color: #39ADD0;
	border-radius: 50%;
	border:solid 10px #fff;
	right: 180px;
	margin-top: 30px;
}
.whale .fin-top{
	width: 40px;
	height: 75px;
	background-color:#39ADD0; 
	border-top-left-radius: 60px;
	margin-right: 200px;
	margin-top: 142px;
	position: absolute;
	top:0;
	left:60px;
}
.whale .fin-tail{
	top:0;
	margin-top: 230px;
	width: 0px; 
	height: 0px; 
	border-right: 50px solid transparent; 
	border-top: 50px solid #39ADD0; 
	border-left: 50px solid #39ADD0; 
	border-bottom: 50px solid #39ADD0; 
	border-top-left-radius: 70px; 
	border-top-right-radius: 70px; 
	border-bottom-left-radius: 70px; 
	border-bottom-right-radius: 70px;
	transform: rotate(120deg);
	-webkit-transform:rotate(120deg);
}







































































